html {
    height: 100%;
}

body {
    background: rgb(34,92,243);
    background: linear-gradient(120deg, rgba(34,92,243,1) 0%, rgba(255,161,77,1) 100%);
}

#name_h1 {
    color: white;
}

.btn {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border-width: 0px;
    color: white;
    background: rgba(255,161,77,1);
    transition-duration: 300ms;
}

.btn:hover{
    background: rgb(218, 138, 68);
}

.btn:active{
    background: rgba(255,161,77,1);
}